@import "../../../styles/variables.scss";

.viewedCourses {
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 85px;
  padding-right: 85px;
  position: relative;
  background-color: #f6fafb;

  img.courses-shape {
    position: absolute;
    top: -50px;
    right: 150px;
  }
}

.viewedCourses__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    max-width: 645px;
    margin-left: 0px;
    text-align: left;
    margin: -5px 0 50px;
    position: relative;

    span.top-title {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      text-transform: capitalize;
      background: $bg-title-popularCourses;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h2 {
      max-width: 700px;
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 60px;
      color: $color-font-9;
    }
  }

  &__right {
    box-shadow: 0 4px 25px $bg-boxshadow-1;
    background: $bg-view-btn;
    position: relative;
    display: inline-flex;
    font-size: 16px;
    color: $color-font-1;
    text-align: center;
    padding: 16px 40px 12px;
    border-radius: 5px;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(315deg, #098b99, #057fa8);
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
    }

    &:hover {
      text-decoration: none;
      color: $color-font-1;
      &::before {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 992px) {
  .viewedCourses {
    .container {
      padding-left: 85px;
      padding-right: 85px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .viewedCourses {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 65px;
    padding-right: 65px;
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  .viewedCourses__title {
    display: block !important;
    margin-bottom: 30px;
    &__left {
      margin-bottom: 30px;
      &__text {
        span {
          font-size: 15px;
        }
        h2 {
          font-size: 28px;
          line-height: 35px;
        }
      }
    }
    &__right {
      font-size: 14px;
      padding: 9px 15px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .viewedCourses {
    padding-bottom: 30px;
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    img.courses-shape {
      opacity: 0;
    }
    .container {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
  .viewedCourses__title {
    display: block !important;
    margin-bottom: 30px;
    &__left {
      margin-bottom: 20px;
      &__text {
        span {
          font-size: 14px;
        }
        h2 {
          font-size: 26px;
          line-height: 35px;
        }
      }
    }
    &__right {
      font-size: 14px;
      padding: 9px 15px;
    }
  }
}
