@import "../../../styles/variables.scss";

.itemCourse {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  &__img {
    display: block;
    margin-bottom: 35px;
    img {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__content {
    h3 {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 30px;
      font-weight: 600;
    }
    &__admin {
      display: flex;
      align-items: center !important;
      padding-left: 0;
      margin-bottom: 10px;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 10px;
        color: $color-font-5;

        img.rounded-circle {
          position: relative;
          top: -2px;
        }

        span {
          color: $color-font-7;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    h4 {
      font-size: 25px;
      font-weight: 700;
      letter-spacing: -1px;
      background: $bg-title-popularCourses;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 0;
      del {
        font-weight: 400;
        font-size: 18px;
        background: linear-gradient(315deg, #939393, #939393);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #939393;
        }
      }
    }
  }

  &__hover {
    background: $bg-title-course-hover;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;

    &__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 30px 6px;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 12px;
        a {
          color: $color-font-1;
          text-decoration: none;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 20px;
        color: $color-font-8;
        line-height: 1.8;
      }

      .itemCourse__hover__container__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button.default__btn {
          display: inline-flex;
          position: relative;
          background-image: $bg-course-btn;
          padding: 10px 28px;
          font-size: 16px;
          text-align: center;
          border: none;
          border-radius: 3px;
          border-radius: 5px;
          outline: none;
          font-weight: 600;
          overflow: hidden;
          z-index: 1;
          transition: all 0.5s ease;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $bg-title-popularCourses;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: -1;
          }

          &:hover {
            color: $color-font-1;
            &::before {
              opacity: 1;
            }
          }
        }

        button.like {
          padding: 3px 11px;
          background-image: $bg-course-btn-hover;
          color: $color-font-9;

          .heart {
            position: relative;
            margin-left: 0;
            color: $color-font-1;
            font-size: 25px;
            font-weight: 400;
            top: 0;
          }
          .hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0;
            transition: all 0.5s ease;
          }
          &:hover .hover {
            opacity: 1;
            color: $color-font-10;
          }
        }
      }
    }
  }

  &:hover .itemCourse__hover {
    opacity: 1;
    visibility: visible;
  }
}
// @media (min-width: 992px) {
//   .itemCourse__img {
//     margin-bottom: 15px;
//   }
// }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .itemCourse__img {
    margin-bottom: 55px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .itemCourse__img {
    margin-bottom: 0px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
