@import "../../../styles/variables.scss";

.popularCourses {
  padding-top: 100px;
  padding-bottom: 70px;
}
.popularCourses__title {
  max-width: 700px;
  margin: -5px auto 50px;
  text-align: center;
  position: relative;

  span {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    background: $bg-title-popularCourses;
    color: $color-font-6;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  h2 {
    color: $color-font-5;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 60px;
  }
}

@media (min-width: 992px) {
  .popularCourses {
    .container {
      padding-left: 85px;
      padding-right: 85px;
    }
    &__title {
      span {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.7rem;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .popularCourses {
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
    &__title {
      span {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .popularCourses {
    .container {
      padding-left: 35px;
      padding-right: 35px;
    }
    &__title {
      span {
        font-size: 0.65rem;
        margin-bottom: 3px;
      }
      h2 {
        font-size: 0.95rem;
      }
    }
  }
}
