@import "../../../styles/variables.scss";

.testimonial {
  padding-top: 100px;
  padding-bottom: 70px;
  overflow: hidden;

  &__img {
    margin-bottom: 30px;
    margin-right: 100px;
    padding-left: 12%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    h2 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
      margin-left: 30px;
      line-height: 60px;
      letter-spacing: -1px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial {
    padding-top: 60px;
    padding-bottom: 30px;
    &__content {
        h2 {
            margin-left: 0;
            font-size: 28px;
            line-height: 35px;
        }
    }
  }
}
@media only screen and (max-width: 767px) {
  .testimonial {
    padding-top: 60px;
    padding-bottom: 30px;
    &__content {
      h2 {
        margin-left: 0;
        font-size: 26px;
        line-height: 35px;
      }
    }
  }
}
