@import "../../../styles/variables.scss";

.container-fluid {
  @include container-fluid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homePage__banner {
  position: relative;
  background-image: url(../../../assets/img/banner-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 166px;
  padding-bottom: 185px;
  z-index: 1;

  &__img {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      left: -45px;
      width: 719px;
      height: 719px;
      background: $bg-banner-img;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__content {
    max-width: 690px;

    h1 {
      font-size: 4.375rem;
      margin-bottom: 20px;
      letter-spacing: 1px;
      line-height: 71px;
      font-weight: 700;
      color: $color-font-1;
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 600;
      line-height: 1.8;
      color: $color-font-2;
      span {
        color: $color-font-3;
      }
    }

    form.search-form {
      position: relative;
      margin-bottom: 30px;

      input.form-control {
        background: $bg-input;
        display: block;
        width: 100%;
        height: 55px;
        padding: 10px 20px;
        border-radius: 6px;
        border-color: transparent;
        backdrop-filter: blur(60px);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $color-font-1;
        transition: all 0.5s ease;

        &:focus {
          outline: none;
          border: 1px solid $color-font-1;
          box-shadow: unset;
        }

        &:hover:focus {
          box-shadow: unset;
        }
        &::placeholder {
          color: $color-font-8;
        }
      }

      button.default-btn {
        background-image: $bg-btn;
        position: absolute;
        top: 0;
        right: 0;
        height: 55px;
        text-align: center;
        line-height: 56px;
        font-weight: 600;
        padding: 0 23px;
        border-radius: 5px;
        color: $color-font-4;
        transition: all 0.5s ease;
        overflow: hidden;
        z-index: 1;

        i {
          position: relative;
          top: -1px;
          margin-left: 10px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(312.38deg, #6cc17e 2.65%, #098b99 98.23%);
          opacity: 0;
          transition: all 0.5s ease;
          z-index: -1;
        }
        &:hover {
          color: $color-font-1;
          &::before {
            opacity: 1;
          }
        }
      }
    }

    .client-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;
      display: inline-flex;

      li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 50px;
          width: 46px;
          height: 46px;
          overflow: hidden;
        }
        .client {
          margin-left: -20px;
        }

        p {
          position: relative;
          top: 2px;
          margin-bottom: 0;
          margin-left: 10px;
          font-size: 1.125rem;
          font-weight: 700;
          color: $color-font-2;

          a.read-more {
            position: relative;
            color: $color-font-3;
            font-size: 1.125rem;
            font-weight: 700;
            background-color: transparent;
            transition: all 0.5s ease;
            z-index: 1;
            i {
              position: relative;
              left: 4px;
            }

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 87%;
              height: 1px;
              background-color: $color-font-3;
              z-index: -1;
            }

            &:focus,
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .shape {
    position: absolute;
    z-index: -1;
  }
  .shape-1 {
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    animation: off-on 5s linear infinite;
  }
  .shape-2 {
    bottom: -80px;
    left: 200px;
    animation: off-on 10s linear infinite;
  }
  .shape-3 {
    bottom: 100px;
    right: 100px;
    animation: off-on 15s linear infinite;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homePage__banner {
    &__img {
      margin-bottom: 30px;
      margin-left: 0;

      &::before {
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__content {
      text-align: center;
      margin: auto;
      h1 {
        font-size: 35px;
        letter-spacing: normal;
        line-height: normal;
      }
      p {
        font-size: 15px;
      }

      form.search-form {
        .form-control {
          height: 50px;
        }
        button.default-btn {
          height: 50px;
          line-height: 52px;
          padding-left: 10px;
          padding-right: 10px;
          i {
            display: none;
          }
        }
      }

      ul.client-list {
        text-align: center;
        li {
          p {
            margin-left: 0;
            .read-more {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .shape {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .homePage__banner {
    &__img {
      margin-bottom: 30px;
      margin-left: 0;

      &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    &__content {
      h1 {
        font-size: 29px;
        letter-spacing: normal;
        line-height: normal;
      }

      p {
        font-size: 15px;
      }

      form button.default-btn {
        height: 50px;
        line-height: 52px;
        padding-left: 10px;
        padding-right: 10px;

        i {
          display: none;
        }
      }

      ul.client-list {
        text-align: center;
        li {
          p {
            margin-left: 0;
            a.read-more {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .shape {
    display: none;
  }
}

@keyframes off-on {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
