@import "../../../styles/variables.scss";

.itemFeature {
  background-color: $color-font-1;
  padding: 38px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.5s ease;

  img {
    margin-bottom: 33px;
    padding-left: 26%;
  }
  h3 {
    font-size: 1.375rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 0.95rem;
    line-height: 1.8;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .itemFeature {
    padding: 20px;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .itemFeature {
    padding: 20px;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }
}
