@import "../../../styles/variables.scss";
@import "../Banner//Banner.module.scss";

.ourFeatures {
  background-color: $bg-features;
  position: relative;
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 1;

  &__title {
    max-width: 700px;
    margin: -5px auto 50px;
    text-align: center;
    position: relative;

    span.top-title {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      text-transform: capitalize;
      background: $bg-title-popularCourses;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    h2 {
      margin-bottom: 0;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 60px;
    }
  }

  &__content {
    margin: 0 98px;
  }
  img.shape {
    position: absolute;
    top: 70px;
    left: 200px;
    z-index: -1;
    animation: off-on 5s linear infinite;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ourFeatures {
    padding-bottom: 30px;
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
      span.top-title {
        font-size: 15px;
      }
      h2 {
        font-size: 28px;
        line-height: 35px;
      }
    }
    &__content {
      margin: 0 30px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .ourFeatures {
    padding-bottom: 30px;
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
      span.top-title {
        font-size: 14px;
      }
      h2 {
        font-size: 26px;
        line-height: 35px;
      }
    }
    &__content {
      margin: 0 35px;
    }
  }
}
