// Banner
$bg-banner-img: linear-gradient(
  147.92deg,
  hsla(0, 0%, 100%, 0.4) 11.41%,
  hsla(0, 0%, 100%, 0) 90.25%
);
$bg-input: hsla(0, 0%, 100%, 0.3);
$bg-btn: linear-gradient(#f0bf79, #f0bf79);
$bg-title-popularCourses: linear-gradient(315deg, #098b99, #057fa8);
$bg-title-course-hover: linear-gradient(134.32deg, #6cc17e -19.8%, #098b99);
$bg-features: #f1efee;
$bg-number: #f2f0ef;

$bg-course-btn: linear-gradient(#f0bf79, #f0bf79);
$bg-course-btn-hover: linear-gradient(#0f6c76, #0f6c76);
$bg-view-btn: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
$bg-infor-btn: #f6ba35;
$bg-infor-btn-2: #41b294;

$color-font-1: #fff;
$color-font-2: #edfff4;
$color-font-3: #fec400;
$color-font-4: #111;
$color-font-5: #0d0c0c;
$color-font-6: #646464;
$color-font-7: #464646;
$color-font-8: #dcf6f9;
$color-font-9: #0d0c0c;
$color-font-10: #ff0000;
$color-font-11: #252525;

$color-boder-1: #098b99;

$bg-boxshadow-1: rgb(9 139 153 / 30%);

@mixin container-fluid {
  max-width: 1780px;
  padding-left: 30px;
  padding-right: 30px;
}

// @media (min-width: 1400px) {
//   .popularCourses__container {
//     max-width: 1320px;
//   }
// }

// @media (min-width: 1200px) {
//   .popularCourses__container {
//     max-width: 1140px;
//   }
// }

// @media (min-width: 992px) {
//   .popularCourses__container {
//     max-width: 960px;
//   }
// }

// @media (min-width: 768px) {
//   .popularCourses__container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px) {
//   .popularCourses__container {
//     max-width: 540px;
//   }
// }
