@import "../../styles/variables.scss";

.inforPersonal {
  animation: fadeEffect 1s;
  .userInfor {
    display: block;
    &__top {
      p {
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 500;
        color: $color-font-11;
        span {
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
      button.btnGlobal {
        background-color: $bg-infor-btn;
        color: $color-font-1;
        padding: 5px 10px;
        border: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        transition: all 0.5s;
        &:hover {
          transform: scale(0.97);
        }
      }
    }

    &__bottom {
      padding: 30px 0;
      h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      .mySkills {
        padding-bottom: 20px;
        .pskill {
          display: flex;
          padding: 10px 0;
          align-items: center;
          button.mySkills__Custom {
            width: 60px;
            height: 45px;
            color: $color-font-1;
            border-radius: 8px;
            border: none;
            text-transform: uppercase;
            margin-right: 5px;
            // background-color: #f9ca9a;
          }
          .mySkills__progress {
            display: flex;
            width: 100%;
            height: 1rem;
            overflow: hidden;
            line-height: 0;
            font-size: 0.75rem;
            background-color: #e9ecef;
            border-radius: 0.25rem;
            &__bar {
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;
              color: $color-font-1;
              text-align: center;
              white-space: nowrap;
              transition: all 0.6s ease;

              // background-color: #f9ca9a;
              animation: 1s linear infinite progress-bar-stripes;
              background-image: linear-gradient(
                45deg,
                rgba(255, 255, 255, 0.15) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.15) 50%,
                rgba(255, 255, 255, 0.15) 75%,
                transparent 75%,
                transparent
              );
              background-size: 1rem 1rem;
            }
          }
        }
      }
      .mySkills__html {
        button.mySkills__Custom {
          background-color: #f9ca9a;
        }
        .mySkills__progress {
          &__bar {
            width: 100%;
            background-color: #f9ca9a;
          }
        }
      }
      .mySkills__css {
        button.mySkills__Custom {
          background-color: #f8bebb;
        }
        .mySkills__progress {
          &__bar {
            width: 75%;
            background-color: #f8bebb;
          }
        }
      }
      .mySkills__js {
        button.mySkills__Custom {
          background-color: #f0cc6b;
        }
        .mySkills__progress {
          &__bar {
            width: 50%;
            background-color: #f0cc6b;
          }
        }
      }
      .mySkills__react {
        button.mySkills__Custom {
          background-color: rgb(17, 61, 60, 0.6);
        }
        .mySkills__progress {
          &__bar {
            width: 80%;
            background-color: rgb(17, 61, 60, 0.6);
          }
        }
      }

      .timeLearn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        gap: 20px;
      }
    }

    .modalForm {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: hidden;
      outline: 0;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 11;
      &__wrapper {
        max-width: 500px;
        margin: 1.75rem auto;

        .modal-content {
          position: relative;
          display: flex;
          flex-direction: column;
          background: url(https://demo2.cybersoft.edu.vn/static/media/hornor.a74f5377.gif);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 0.3rem;
          outline: 0;
          z-index: 9999999999999999999;

          .modalUpdateHeader {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid #dee2e6;
            border-top-left-radius: calc(0.3rem - 1px);
            border-top-right-radius: calc(0.3rem - 1px);
            color: $color-font-1;
            padding: 10px 50px;

            .modal-title {
              margin-bottom: 0;
              line-height: 1.5;
            }
            button.close {
              background-color: transparent;
              border: 0;
              padding: 1rem 1rem;
              margin: -1rem -1rem -1rem auto;
              float: right;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1;
              color: #000;
              text-shadow: 0 1px 0 $color-font-1;
              opacity: 0.5;
              cursor: pointer;
            }
          }
          .modalUpdate {
            position: relative;
            flex: 1 1 auto;
            padding: 20px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
              width: 100%;
              h6 {
                padding-top: 10px;
                color: $color-font-1;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.2;
              }
              input {
                width: 100%;
                margin: 5px 0;
                padding: 5px 15px;
                border-radius: 5px;
                border: 2px solid #41b294;
                outline: none;
                overflow: visible;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
              }
              .message {
                height: 22px;
              }
              .errorMessage {
                text-align: left;
                color: rgba(240, 23, 23, 0.835);
                width: 100%;
                font-size: 15px;
              }
              .form-footer {
                border-top: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                padding: 0.75rem;
                border-bottom-right-radius: calc(0.3rem - 1px);
                border-bottom-left-radius: calc(0.3rem - 1px);
                & > * {
                  margin: 0.25rem;
                }
                .btnSubmit {
                  background-color: #41b294;
                  color: $color-font-1;
                  border: none;
                  padding: 10px;
                  text-transform: none;
                  overflow: visible;
                  font-family: inherit;
                  font-size: inherit;
                  line-height: inherit;
                  cursor: pointer;
                }
                .btnClose {
                  background-color: #dc3545;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
