@import "../../styles/variables.scss";
@import "./InforTab.module.scss";

.inforCourses {
  display: block;
  animation: fadeEffect 1s;
  .myCourses {
    padding: 20px 0;
    min-height: 300px;
    &__findCourses {
      h6 {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }
  }
}
.btn_cancel {
  margin-top: 24px !important;
}
