@import "../../styles/variables.scss";

.timeLearn__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 20px;
  background: $bg-infor-btn-2;
  color: $color-font-1;
  i {
    font-weight: 900;
  }
  h6,
  p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
