.privateInfor {
  padding-top: 30px;
  padding-bottom: 100px;
  &__title {
    padding-bottom: 30px;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  &__content {
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      min-height: 500px;
      margin-bottom: 10px;
      text-align: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
      }
      h6 {
        font-size: 1rem;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      &__btn {
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-color: #41b294;
        border: none;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .privateInfor {
    .privateInfor__title {
      h2 {
        font-size: 2rem;
      }
    }
    .privateInfor__content {
      &__left {
        display: none;
      }
    }
  }
}
