@import "../../../src/styles/variables.scss";

.move {
  box-shadow: -4px 4px 24px -10px rgba(140, 135, 141, 0.5);
  color: $color-font-1;
  background: rgba(144, 139, 146, 0.5);
  width: 60px;
  height: 60px;
  line-height: 68px;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 8px;

  &:hover {
    i {
      color: $color-font-1;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .move {
    width: 50px;
    height: 50px;
    line-height: 58px;
  }
}
@media only screen and (max-width: 767px) {
  .move {
    width: 40px;
    height: 40px;
    line-height: 48px;
  }
}
